doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title networkPie
    
    include partials/_favicon.pug

    link(rel="stylesheet" href="main.min.css")

  body
    div.vertical-center
      div.centered
        img#logo.centered(src="logo.svg" alt="networkPie logo" width="96" height="96")
        h1#logo-text networkPie
