doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title networkPie
    
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

    style.
      @import url(https://fonts.googleapis.com/css?family=Poiret+One);

      h1 {
        font-family: "Poiret One";
        margin-top: 5px;
      }

      .vertical-center {
        min-height: 100%;
        min-height: 100vh;

        display: flex;
        align-items: center;
      }

  body
    div.vertical-center
      div.center-block
        img#logo.center-block(src="logo.svg" alt="networkPie logo" width="96" height="96")
        h1 networkPie
